
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa Hàng Thú Cưng PetPamPer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
                <ul>
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                    <li>@Html.ActionLink("Đặt lịch", "Service", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>

                    @if (Context.User.Identity.IsAuthenticated)
            {
                        <li class="dropdown" style="float:right;">
                            <a href="javascript:void(0)" class="dropbtn">@Context.User.Identity.Name</a>
                            <div class="dropdown-content">
                                @Html.ActionLink("Hồ sơ", "Profile", "UserPro")
                                @Html.ActionLink("Đổi mật khẩu", "ChangePass", "UserPro")
                                @*<a href="#">Đổi mật khẩu</a>*@
                                @Html.ActionLink("Đăng xuất", "Logout", "Home")
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Đăng ký", "SignUp", "Home")</li>
                        <li>@Html.ActionLink("Đăng nhập", "Login", "Home")</li>
                    }
                </ul>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        console.log("Test: " + "@TempData["IsCreate"]");
        if('@TempData["IsCreate"]' == 'True'){
            alert("Đăng ký thành công!");
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .field-validation-error {
        color: red;
    }
</style>