@model PetPamper.Areas.Admin.Models.UserProfileModel
@{
    ViewBag.Title = "Hồ Sơ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script>
        if('@ViewBag.IsUpdate' == 'True'){
            alert("Cập nhật thành công!");
        }

    </script>

}

<form method="post" action="/admin/user/profile">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tên</label>
                <input type="text" class="form-control" placeholder="Tên khách hàng" value="@Model.Name" name="Name" id="txtName" />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                <label>Số CMND</label>
                <input type="text" class="form-control" placeholder="Số CMND" value="@Model.IdentifyNumber" name="IdentifyNumber" id="txtIdentifyNumber" />
                @Html.ValidationMessageFor(model => model.IdentifyNumber)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Điện thoại</label>
                <input type="text" class="form-control" placeholder="Số điện thoại" value="@Model.Phone" name="Phone" id="txtPhone" />
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" value="@Model.Email" name="Email" id="txtEmail" />
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Địa chỉ</label>
                <textarea class="form-control" rows="3" placeholder="Địa chỉ" id="txtAddress" name="Address">@Model.Address</textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" id="btnSaveProfile">Lưu</button>
</form>